"workshopitem"
{
	"appid"		"244850"
	"publishedfileid"	"3717639172"
	"contentfolder"		"DRIVE:\\PATH\\TO\\SE_mod\\SE_Overclock_mod"
	"previewfile"		"DRIVE:\\PATH\\TO\\SE_mod\\tools\\steamcmd\\workshop_preview.png"
	"visibility"		"0"
	"title"			"SE Overclock"
	"description"		"Upgrade modules + Prime blocks (unified)."
	"changenote"		"Initial upload"
}
