"workshopitem"
{
	"appid"		"244850"
	"publishedfileid"	"3717639172"
	"contentfolder"		"DRIVE:\\PATH\\TO\\SE_mod\\SE_Overclock_mod"
	"previewfile"		"DRIVE:\\PATH\\TO\\SE_mod\\tools\\steamcmd\\workshop_preview.jpg"
	"visibility"		"0"
	"title"			"SE Overclock"
	"description"		"Combined upgrade modules and Prime blocks (SE Overclock)."
	"changenote"		"2.0.0 unified release"
}
